<div class="card mb-4" style="max-width: 840px;">
  <div class="row g-2">
    <div class="col-md-4">
      <p>
        <img src="https://images.wallpaperscraft.ru/image/pliazh_more_ostrov_201083_320x480.jpg" alt="..." width='150', height='200'>
      </p>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.body|truncatewords:15 }}</p>
        <p class="card-text"><small class="text-muted">{{ post.date_pub }}</small></p>
        <a href="{{ post.get_absolute_url }}" class="btn btn-dark mb-4">Read</a>
        <div class="">
          Tags:
          {% for tag in post.tags.all %}
          <a href="{{ tag.get_absolute_url }}" class="btn btn-outline-success btn-sm">{{ tag.title }}</a>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>
